.header {
  padding: 10px 45px;
}
.header span {
  color: #7d838c;
  font-size: 20px;
  font-weight: 800;
}
.btn-gmi-primary {
  float: right;
  background-color: #27779c;
  color: #fff;
}

.modal-open bs-datepicker-container{
  position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}
.btn-gmi-primary:hover {
  background-color: #1a546f;
}

.card {
  padding: 10px 15px;
}
.divider {
  padding: 10px 10px;
}
.survey-details-card {
  border-radius: 5px;
  background-color: #fff;
  padding: 15px;
}
.survey-title {
  margin-bottom: 5px;
  font-size: 18px;
  color: #1a546f;
  font-weight: 600;
  width: 80%;
  height: 40px;
}
.disc {
  color: #858b95;
  text-align: justify;
  margin-bottom: 10px;
}

.category {
  font-size: 12px;
  color: #6c737f;
}
.category span {
  text-align: center;
  font-size: 12px;
  border-radius: 20px;
  border: 1px dotted #ccc;
  padding: 10px 10px;
  weight: 600;
  color: black;
  position: absolute;
  right: 5%;
  top: 5%;
}
.created {
  font-size: 12px;
  color: #6c737f;
  font-weight: 600;
}
.participant {
  font-size: 15px;
  color: #1a546f;
  font-weight: 600;
}

.date {
  font-size: 12px;
  color: #6c737f;
}

.date span {
  padding-left: 20px;
}

.collapse-button {
  text-align: center;
}
.btn-gmi-primary1 {
  background-color: #27779c;
  color: #fff;
}
.btn-gmi-primary1:hover {
  background-color: #1a546f;
}

.more-content  li {
  list-style: none;
  padding: 5px;
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
}
.connect {
  background-color: #14779f;
}
.develop {
  background-color: #015070;
}
.inspire {
  background-color: #66ff61;
}
.overall {
  background-color: #17cdc5;
}
.mat-expansion-panel:not([class*=mat-elevation-z]){
  box-shadow: none !important
}
@media only screen and (max-width: 480px) {
  .category span {
    float: right;
    text-align: center;
    font-size: 12px;
    border-radius: 6px;
    border: 2px dotted #ccc;
    padding: 4px 10px;
    margin-top: -5px;
    font-weight: 600;
    color: black;
  }
  .survey-title{
    font-size: 14px !important;
  }

  .disc {
    padding-top: 10px;
  }
}
.col-md-6{
  margin: 10px 0 !important;
}