<div class="container">
    <div class="col-md-6 ">
      <div
        style="height: 2px;"
      ></div>
      <div
        class=" survey-details-card"
        style="box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);"
      >
        <p class="survey-title">
          Great Manager Certification Survey 2020
            <a
            ><i class="fa fa-pencil" aria-hidden="true"></i
          ></a>
        </p>
        <p class="created">
          Created on 20-04-20
      
        </p>
        <p class="category">
          Team feedback Survey
          <span class="launch-tag"
            >5%<br />Ongoing</span
          >
        </p>

        <div class="disc">This survey is mandatory to complete your people management profile and is required to be sent to all your team members who are currently under your direct influence.
</div>
        <p class="participant">5 Participants</p>
        <p class="date">
          Start Date : 20-04-20
          <span
            >End Date : 20-04-20</span
          >
          <a
            style="float:right; color:red"
          >
            Reopen Survey
          </a>
        </p>
        <!-- <ng-template #surveyData>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Reopen Survey</h4>
            <button
              type="button"
              class="close pull-right"
              aria-label="Close"
              (click)="modalRef.hide()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h3
              style="
               margin: auto;
           "
            >
              {{ survey1.name }}
            </h3>
            <p>{{ survey1.description }}</p>
            <p>start date : {{startDateFormatted }}</p>
            <p>end date : {{endDateFormatted}}</p>
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="picker" placeholder="End Date" [min]="today"
              [max]="maxDate"[(ngModel)]="endDate"(ngModelChange)="checkEndDate()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #picker></mat-datepicker>
            </mat-form-field>
            <button class="btn btn-primary" [disabled]="endError" (click)="reopenSurvey(survey._id)">Update</button>
          </div>
        </ng-template>
        <mat-accordion>
          <mat-expansion-panel
            (opened)="show[survey._id] = true"
            (closed)="show[survey._id] = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-description>
                View More
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ul style="padding: 0" class="more-content" *ngIf="survey.surveyScore; else noSurveyData">
              <li class="connect">
                Connect Scores : <span>{{ survey.surveyScore.connect }}%</span>
              </li>
              <li class="develop">
                Develop Scores : <span>{{ survey.surveyScore.develop }}%</span>
              </li>
              <li class="inspire">
                Inspire Scores : <span>{{ survey.surveyScore.inspire }}%</span>
              </li>
              <li class="overall">
                Overall Scores : <span>{{ survey.surveyScore.overall }}%</span>
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion> -->
      </div>
    </div>
   <!--  <ng-template #noSurveyData>
      <strong>Scores will start appearing one day after survey closure.</strong>
    </ng-template> -->
</div>	