<app-loader *ngIf="isLoading"></app-loader>
<div class="container-fluid">
  <div class="row">
    <div *ngFor = "let template of templateList" class="col-md-6 ">
      <div
        style="height: 2px;"
      ></div>
      <div 
        class=" survey-details-card"
        style="box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);"
      >
        <p class="survey-title">
          {{template.templateName}}
            <a
            ><i class="fa fa-pencil" aria-hidden="true"></i
          ></a>
        </p>
        <p class="category">
          <span class="launch-tag"
          [routerLink]="['/admin/dashboard/survey-management/'+template._id]"
            >Choose this template</span
          >
        </p>
        <div class="disc">{{template.description}}
    </div>
        <p class="participant">16 Question</p>
      </div>
    </div>
  </div>
</div>
