.mat-stepper-horizontal {
  margin-top: 8px;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
}

.mat-form-field {
  margin-top: 16px;
}
.uploadExcelModal .excelData {
  text-align: center;
}
.uploadExcelModal .main {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.uploadExcelModal th {
  text-align: center;
}
.uploadExcelModal .saveButton {
  background: #1a546f;
  color: #fff;
  border-color: #1a546f;
  width: 120px;
  height: 30px;
  border-radius: 2px;
  border: none;
  margin-top: 20px;
}
.uploadExcelModal .fa-edit {
  margin-right: 10px;
}
.uploadExcelModal .redBorder {
  border: 1px solid red;
}
.uploadExcelModal .redFont {
  font-weight: bold;
  color: red;
}
.uploadExcelModal .tableWrap {
  max-height: 336px;
  overflow: auto;
}
.gmi-upload-button {
  background: #1a546f;
  color: #fff;
  border-color: #1a546f;
  width: 120px;  
  border-radius: 2px;
  border: none;  
}
.sampleExcel {
  margin-left: 16px;
}
.uploadExcel {
  width: auto;
}