<app-loader *ngIf="isLoading"></app-loader>
<notifier-container></notifier-container>

<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" style="text-align: center;">
      <h2>Enter company name</h2>
      <!-- <mat-form-field>
        <mat-label>Company Name</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        
      </mat-form-field> -->
      <h2>Company Name</h2>
      <app-company-input
                            (outPutToParent)="getCompanyOutputValFromChild($event)"
                            (outPutIsNewCompanyToParent)="gettIsNewCompanyFromParent($event)"
                            (outPutId)="getCompanyOutputIdFromChild($event)"
                            (companyListStatus)="companyListStatus($event)"
                          >
                          </app-company-input>
                         
        <h2>Survey start and end date</h2>
        <mat-form-field>
            <input matInput
                   disabled
                   [min]="today"  
                   placeholder="Choose a date"
                   [satDatepicker]="picker1"
                   formControlName="date">
            <sat-datepicker #picker1 [rangeMode]="true" disabled = "false">
            </sat-datepicker>
            <sat-datepicker-toggle matSuffix [for]="picker1"></sat-datepicker-toggle>
        </mat-form-field>
      <div style="margin-top: 2%;">
        <button class="btn btn-success" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup" style="text-align: center;">
      <ng-template matStepLabel>Upload Employee list</ng-template>
      <input type="submit" [disabled] = "getExelData" class="uploadExcel btn btn-primary form-control" (click)="fileInput.click()" value="Upload Excel" />
      <a class="btn btn-info sampleExcel" href="https://s3.ap-south-1.amazonaws.com/s3.gmi/Pulse_Survey_Template.xlsx">Download sample excel</a>
      <button class="btn btn-info sampleExcel" [disabled]="!getExelData" style="color: #fff;" (click)="openDialog('Add',{})">Add new employee</button>
      <button class="btn btn-info sampleExcel" [disabled]="!getExelData" style="color: #fff;" (click)="getGMCEmployees()">Include GMC participants for this company</button>
      <!-- <a class="btn btn-info" (click)="getGMCEmployees()">Add gmc employee</a> -->
      <input style="width: 0;height: 0;" id="fileSelect" type="file" required 
                                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                name="fileUpload"  required  #fileInput
                                (change)="onFileChange($event)" />
      <div style="margin-top: 2%">
        <button class="btn btn-danger sampleExcel" mat-button matStepperPrevious>Back</button>
        <button class="btn btn-success sampleExcel" [disabled] = "!getExelData" mat-button (click)="launchSurvey()">Submit</button>
      </div>
    </form>
    <div class="container" (onHidden)="onHidden()">                            
  <div style="text-align: center;">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="employeeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </th>
        <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="employeeEmail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Email </th>
        <td mat-cell *matCellDef="let element"> {{element.employeeEmail}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="managerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Manager Name </th>
        <td mat-cell *matCellDef="let element"> {{element.managerName}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="managerEmail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Manager Email </th>
        <td mat-cell *matCellDef="let element"> {{element.managerEmail}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let element;let i = index"> 
          <a (click)="openDialog('Update',element)">Edit</a> | 
          <a (click)="openDialog('Delete',element)">Delete</a> 
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
<mat-paginator [pageSizeOptions]="[6, 12, 18]" showFirstLastButtons></mat-paginator>
</div>
  </mat-step>
</mat-horizontal-stepper>
<!-- <div *ngIf="isExcelModalShown"  (onHidden)="onHidden()" bsModal #infoModal="bs-modal"
        class="modal fade uploadExcelModal animated fadeIn" tabindex="-1" role="dialog"
        aria-labelledby="dialog-auto-name">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="onHidden()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="excelData">
                        <div class="main">
                            Upload Excel
                        </div>
                        <div class="tableWrap">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Options</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let data of excelData; index as i">
                                    <td>
                                        <input [ngClass]="{ redBorder: data.nameError }" (change)="onExcelInputChange($event, i, 'name')" *ngIf="data.edit" type="text" class="form-control" value={{data.name}} />
                                        <div [ngClass]="{ redFont: data.nameError }" *ngIf="!data.edit">{{data.name}}</div>
                                    </td>
                                    <td>
                                        <input [ngClass]="{ redBorder: data.emailError }" (change)="onExcelInputChange($event, i, 'email')" *ngIf="data.edit" type="text" class="form-control" value={{data.email}} />
                                        <div [ngClass]="{ redFont: data.emailError }" *ngIf="!data.edit">{{data.email}}</div>
                                    </td>
                                    <td>
                                        <i class="fa fa-edit" (click)="onExcelEdit(i)"></i>
                                        <i class="fa fa-trash" aria-hidden="true" (click)="deleteFromExcelData(i)"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <button class="saveButton" (click)="finalExcelSubmit()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
  <!-- <table class="table table-striped" *ngIf="isExcelModalShown" (onHidden)="onHidden()">
                                <thead>
                                <tr>
                                    <th scope="col">Employee Name</th>
                                    <th scope="col">Employee Email</th>
                                    <th scope="col">Manager Name</th>
                                    <th scope="col">Manager Email</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let data of excelData; index as i">
                                    <td>
                                        <input [ngClass]="{ redBorder: data.employeeNameError }" (change)="onExcelInputChange($event, i, 'employeeName')" *ngIf="data.edit" type="text" class="form-control" value={{data.employeeName}} />
                                        <div [ngClass]="{ redFont: data.nameError }" *ngIf="!data.edit">{{data.employeeName}}</div>
                                    </td>
                                    <td>
                                        <input [ngClass]="{ redBorder: data.employeeEmailError }" (change)="onExcelInputChange($event, i, 'employeeEmail')" *ngIf="data.edit" type="text" class="form-control" value={{data.employeeEmail}} />
                                        <div [ngClass]="{ redFont: data.emailError }" *ngIf="!data.edit">{{data.employeeEmail}}</div>
                                    </td>
                                    <td>
                                        <input [ngClass]="{ redBorder: data.managerNameError }" (change)="onExcelInputChange($event, i, 'managerName')" *ngIf="data.edit" type="text" class="form-control" value={{data.managerName}} />
                                        <div [ngClass]="{ redFont: data.emailError }" *ngIf="!data.edit">{{data.managerName}}</div>
                                    </td>
                                    <td>
                                        <input [ngClass]="{ redBorder: data.manageremailError }" (change)="onExcelInputChange($event, i, 'managerEmail')" *ngIf="data.edit" type="text" class="form-control" value={{data.managerEmail}} />
                                        <div [ngClass]="{ redFont: data.emailError }" *ngIf="!data.edit">{{data.managerEmail}}</div>
                                    </td>
                                    <td>
                                        <i class="fa fa-edit" (click)="onExcelEdit(i)"></i>
                                        <i class="fa fa-trash" aria-hidden="true" (click)="deleteFromExcelData(i)"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table> -->
