<div class="jumbotron bg-white text-center">
    <h1>Pulse Survey for Each Employee</h1>
    <hr>

    <div class="mx-auto">
        <div class="form-group col-lg-5 mx-auto">
             <label for="m">Select Employee Name</label>
             <select name="" class="form-control" id="e">
               <option value="{{empl}}" *ngFor='let empl of employees'>{{empl}}</option>
           </select>
        </div>
    </div>
    
</div>

