
<div class="container" *ngIf="participantDetails.surveySubmittedStatus == false">
<div class="head">

  <div class="shadow p-3 mb-5 bg-white rounded">
    <div class="card" style="border: 0px!important;">
      <div class="card-body">
        <h1 style="text-align: center;">People Manager Effectiveness Survey</h1>
        <h3 class="card-title"> Survey Instructions:</h3>
        <p class="card-text">
          {{surveyDescription}}
        </p>
      </div>
    </div>
  </div>

</div>

<div class="question card" *ngFor="let question of surveyQuestions; let questionIndex = index">
  <div class="shadow p-3 mb-5">
    <!-- <div class="card"> -->
      <div class="card-body">
        <h2 class="card-title" *ngIf="question.questionTypeId == 1  && question.id!=14 " >
          {{ questionIndex + 1 }}. My manager {{ question.question }}
        </h2>
        <h2 class="card-title" *ngIf="question.questionTypeId == 2" >
          {{ questionIndex + 1 }}.  {{ question.question }} <span class="compulsory">*</span>
        </h2>
        <h2 class="card-title" *ngIf="question.id==14" >
          {{ questionIndex + 1 }}.  {{ question.question }}
        </h2>
        <h2 class="card-title" *ngIf="question.questionTypeId == 4" >
          {{ questionIndex + 1 }}.  {{ question.question }}
        </h2>
        <h2 class="card-title" *ngIf="question.questionTypeId == 5" >
          {{ questionIndex + 1 }}.  {{ question.question }}
        </h2>
        <div class="inline" *ngIf="question.questionTypeId ==1">
          <div class="options" *ngFor="let options of surveyQuesitionOptions; let optionIndex = index">
             <div class="button"><button type="button" id="{{options.option}}" class="btn btn-outline-dark" [ngClass]="{'btnActive': (options.answer == question.answer)}" (click)="captureResponse(question.id, options.answer)">{{options.answer}}</button></div>
          </div>
        </div>
        <div *ngIf="question.questionTypeId == 4">
          <input type="text" placeholder="Type your answer" class="text_input" (keyup)="updateOnChangeResponse(question.id, $event)">
        </div>
        </div>
        <div *ngIf="question.questionTypeId ==5 ">
          <div class="options" *ngFor="let options of question.options; let optionsIndex = index">
            <div class="button">
              <button type="button" id="{{options.index}}" class="btn btn-outline-dark"
              [ngClass]="{'btnActive': (options == question.answer)}"
              (click)="captureResponse(question.id, options)">{{options}}
            </button>
            </div>
           </div>
        </div>

        <div *ngIf="question.questionTypeId ==2 ">
          <!-- <div class="options" *ngFor="let options of question.options; let optionsIndex =index"> -->
            <div class="form-group" >
              <!-- <p for="sel1" class="question" style="font-size: 20px;font-weight: 520;">
                {{question.question_description[0].question_text}}</p> -->
              <select class="form-control" id="sel1" (change)="updateOnChangeResponse(question.id, $event)">
                <!-- >(change)="getAnswer($event.target.value)" -->
                <option [value]="">Please Select</option>
                <option *ngFor="let options of question.options; let i=index" [ngClass]="{'btnActive': (options == question.answer)}"
                  >{{options}}</option>
              </select>
            </div>
          <!-- </div> -->

        </div>
        </div>
    <!-- </div> -->
  </div>
  <div class="text-center">
<button (click)="onSubmit('submit')" class="btn btn-primary">Submit</button>
</div>
<div>
<p class="text-top">IN STRATEGIC PARTNERSHIP WITH </p>

    <img class="gmi-logo" style="float: right;" src="../../../assets/images/gptw_logo.jpg">
  </div>
</div>
<div class="container" *ngIf="participantDetails.surveySubmittedStatus == true">
  <div class="thank_you" style="padding: 4rem;">
  <div class="shadow p-3 mb-5 bg-white rounded">
    <div class="card" style="border: 0px!important;">
      <div class="card-body">
        <h1 style="text-align: center;">People Manager Survey in times of crisis</h1>
        <h2 class="card-title" style="color: green; text-align: center;">Survey already submitted</h2>
        <div class="card-text">
          Thanks for participating in the survey and playing a part in helping us understand how the dynamics of
          people management is changing due to the current situation.
          We will share with you insights drawn out of this survey.
          If you wish to get an opportunity to become a certified great people manager yourself,
          please log in or register on <a href="https://app.greatmanagerinstitute.com/">app.greatmanagerinstitute.com.</a>
        </div>
      </div>
    </div>
  </div>
</div>




