<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<form #form="ngForm" 
  (ngSubmit)="submitData(form)">
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} employee name" name="employeeName" matInput [(ngModel)]="local_data.employeeName" required>
</mat-form-field>
<mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  placeholder="{{action}} employee email" type="email" name="employeeEmail" matInput [(ngModel)]="local_data.employeeEmail" required>
</mat-form-field>
<mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} manager name" name="managerName" matInput [(ngModel)]="local_data.managerName">
</mat-form-field>
<mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  placeholder="{{action}} manager email" type="email" name="managerEmail" matInput [(ngModel)]="local_data.managerEmail">
  </mat-form-field>
  
</div>
<ng-template #elseTemplate>
    Sure to delete <b>{{local_data.employeeName}}</b>?
  </ng-template>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()" [disabled]="form.invalid">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
</form>