<app-loader *ngIf="isLoading"></app-loader>
<div class="container">
	<div class="row" style="float: right;margin-right: 0%;">
			<a class="btn btn-primary" (click)="openDialog('Add',{})">Add new employee</a>
	</div>
	<h1>Participants List</h1>
	<form [formGroup]="firstFormGroup" style="text-align: center;">
		<h2>Survey start and end date</h2>
        <mat-form-field>
            <input matInput
                   disabled 
                   [min]="surveyStartDate"
                   placeholder="Choose a date"
                   [satDatepicker]="picker1"
                   formControlName="date">
            <sat-datepicker #picker1 [rangeMode]="true" disabled = "false">
            </sat-datepicker>
            <sat-datepicker-toggle matSuffix [for]="picker1"></sat-datepicker-toggle>
        </mat-form-field>
	</form>
	<div style="text-align: center;">
		<button class="btn btn-primary" (click)="updateSurvey()">Update Survey</button>
	</div>
	<div style="text-align: center;">	
		<mat-form-field style="text-align: center;">
		  <mat-label>Search</mat-label>
		  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. John Doe">
		</mat-form-field>
	</div>
	<div class="mat-elevation-z8">
		<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

		  <!-- Position Column -->
		  <ng-container matColumnDef="id">
		    <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
		    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
		  </ng-container>

		  <ng-container matColumnDef="employeeName">
		    <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Name</th>
		    <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
		  </ng-container>

		  <!-- Name Column -->
		  <ng-container matColumnDef="employeeEmail">
		    <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Email</th>
		    <td mat-cell *matCellDef="let element"> {{element.employeeEmail}} </td>
		  </ng-container>

		  <!-- Weight Column -->
			<ng-container matColumnDef="managerName">
		    <th mat-header-cell *matHeaderCellDef mat-sort-header>Manager Name </th>
		    <td mat-cell *matCellDef="let element"> {{element.managerName}} </td>
		  </ng-container>

		  <ng-container matColumnDef="managerEmail">
		    <th mat-header-cell *matHeaderCellDef mat-sort-header>Manager Email</th>
		    <td mat-cell *matCellDef="let element"> {{element.managerEmail}} </td>
		  </ng-container>

		  <ng-container matColumnDef="surveySubmittedStatus">
		    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
		    <td mat-cell *matCellDef="let element"> {{element.surveySubmittedStatus}} </td>
		  </ng-container>

		  <!-- Symbol Column -->
		  <ng-container matColumnDef="action">
		    <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
		    <td mat-cell *matCellDef="let element">
		    	<a (click)="openDialog('Update',element)">Edit</a> | 
          		<a (click)="openDialog('Delete',element)">Delete</a> 
		    </td>
		  </ng-container>

		  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	</div>

<mat-paginator [pageSizeOptions]="[6, 12, 18]" showFirstLastButtons></mat-paginator>
</div>