<div>
<div fxFlex="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="header">
  <!-- <button mat-icon-button (click)="onSinenavToggle();" class="sidebar-button">
    <mat-icon style="font-size: 35px;padding: 7px;">menu</mat-icon>
  </button>
	<p>GMI Pulse Survey</p> -->
	<ul>
  <li><button mat-icon-button (click)="onSinenavToggle();" class="sidebar-button">
    <mat-icon style="font-size: 35px;padding: 7px;">menu</mat-icon>
  </button></li>
  <li><a>GMI Pulse Survey</a></li>
  <li style="float: right !important;padding-right: 2%;padding-top: 1%;cursor: pointer;"
  (click)="logout()"><i class="fas fa-sign-out-alt" style="font-size: 19px;"></i></li>
</ul>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #leftSidenav mode="side" opened>
	<div class="sidenav_container"  [@onSideNavChange]="sideNavState ? 'open' : 'close'">
	  <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">
	    <div (click)="routing('dashboard')">
	      <mat-nav-list>
	        <a mat-list-item *ngFor="let page of pages">
	          <mat-icon style="padding-right:5px;margin-right: 6px;color: #1A546F;">{{page?.icon}}</mat-icon>
	          <span [@animateText]="linkText ? 'show' : 'hide'">{{ page?.name }} </span>
	        </a>
	      </mat-nav-list>
	    </div>
	  </div>
	</div>
    </mat-sidenav>
    <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
      <div class="main_content">
        <div style="padding: 20px">
        	<router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>