p {
  font-family: Lato;
}

.main_content {
  width:100%; 
  height: calc(100vh - 100px); 
  background: #efefef;
}
.sidenav_container {
  min-width: 60px; 
  height: calc(100vh - 200px);
}

.jim {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.header {
  /*height: 76px;	
  padding: 10px 20px;
  padding-left: 7px;*/
  background: #1A546F;
  color: #fff;
}
.sidebar-button.focus, .sidebar-button:focus {
    outline: 0;
    box-shadow: none!important;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #333333;*/
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

/*li a:hover {
  background-color: #111111;
}*/