@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body{ 
  /*background: linear-gradient(to left, #ffff00, #fe53cc);*/
  background-color: #E9ECEF;
/*  margin: 0;
  padding: 0;
  color: #a9a9a9;
  outline: hidden;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;*/
}

div {
  /*position: relative;*/
  width: 83%;
  height: 175px;
  margin: 0;
  /*margin: 7% auto;*/
}

h1 {
  position: absolute;
  width: 75%;
  height: 65%;
  font-size: 53px;
}

h1:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  line-height: 48px;
  left: 30%;
  top: 50%;
  animation: abomination1 7.5s linear 1;
  animation-fill-mode: forwards;
}


  @keyframes abomination1 {
  0% {
    content: "H";
  }
  4% {
    content: "Hi,";
  }
  8% {
    content: "Hi, ";
  }
  12% {
    content: "Hi, W";
  }
  16% {
    content: "Hi, We";
  }
  20% {
    content: "Hi, Wel";
  }
  24% {
    content: "Hi, Welc";
  }
  28% {
    content: "Hi, Welco";
  }
  32% {
    content: "Hi, Welcom";
  }
  36% {
    content: "Hi, Welcome";
  }
  40% {
    content: "Hi, Welcome ";
  }
  44% {
    content: "Hi, Welcome t";
  }
  48% {
    content: "Hi, Welcome to";
  }
  52% {
    content: "Hi, Welcome to ";
  }
  56% {
    content: "Hi, Welcome to GMI";
  }
  60% {
    content: "Hi, Welcome to GMI ";
  }
  64% {
    content: "Hi, Welcome to GMI P";
  }
  68% {
    content: "Hi, Welcome to GMI P";
  }
  72% {
    content: "Hi, Welcome to GMI Pu";
  }
  76% {
    content: "Hi, Welcome to GMI Pul";
  }
  80% {
    content: "Hi, Welcome to GMI Puls";
  }
  84% {
    content: "Hi, Welcome to GMI Pulse";
  }
  88% {
    content: "Hi, Welcome to GMI Pulse Survey";
  }
  92% {
    content: "Hi, Welcome to GMI Pulse Survey.";
  }
  96% {
    content: "Hi, Welcome to GMI Pulse Survey..";
  }
  100% {
    content: "Hi, Welcome to GMI Pulse Survey...";
  }
 }