<app-loader *ngIf="isLoading"></app-loader>
<div class="container">
	<div class="row" style="float: right;margin-right: 0%;">
			<button class="btn btn-primary"
			[routerLink]="['/admin/dashboard/create-survey']"
			>Create new survey</button>
	</div>

	<h1>Survey List</h1>
	<mat-form-field>
	  <mat-label>Filter</mat-label>
	  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
	</mat-form-field>
	<div class="mat-elevation-z8">
		<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

		  <!-- Position Column -->
		  <ng-container matColumnDef="position">
		    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
		    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
		  </ng-container>

		  <!-- Name Column -->
		  <ng-container matColumnDef="companyName">
		    <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name </th>
		    <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
		  </ng-container>

		  <!-- Weight Column -->
			<ng-container matColumnDef="surveyName">
		    <th mat-header-cell *matHeaderCellDef mat-sort-header>Template Name </th>
		    <td mat-cell *matCellDef="let element"> {{element.surveyName}} </td>
		  </ng-container>

		  <ng-container matColumnDef="startDate">
		    <th mat-header-cell *matHeaderCellDef mat-sort-header> Survey Start Date </th>
		    <td mat-cell *matCellDef="let element"> {{element.startDate | date }} </td>
		  </ng-container>

		  <!-- Symbol Column -->
		  <ng-container matColumnDef="endDate">
		    <th mat-header-cell *matHeaderCellDef mat-sort-header> Survey End Date </th>
		    <td mat-cell *matCellDef="let element"> {{element.endDate | date }}  </td>
		  </ng-container>

		   <ng-container matColumnDef="responseRate">
		    <th mat-header-cell *matHeaderCellDef mat-sort-header> Response Rate </th>
		    <td mat-cell *matCellDef="let element"> {{element.responseRate}}% </td>
		  </ng-container>

		   <ng-container matColumnDef="participant">
		    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. of Participants </th>
		    <td mat-cell *matCellDef="let element"> {{element.participant}} </td>
		  </ng-container>

		  <ng-container matColumnDef="surveyStatus">
		    <th mat-header-cell *matHeaderCellDef mat-sort-header>Survey Status </th>
		    <td mat-cell *matCellDef="let element"> {{element.surveyStatus}} </td>
		  </ng-container>

		  <ng-container matColumnDef="action">
		    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
		    <td mat-cell *matCellDef="let element"> <i class="fa fa-edit" style="cursor: pointer;" (click)="edit(element._id)"></i> </td>
		  </ng-container>
		  <ng-container matColumnDef="download">
		    <th mat-header-cell *matHeaderCellDef mat-sort-header> Download </th>
		    <td mat-cell *matCellDef="let element"> <i class="fa fa-download" style="cursor: pointer;" (click)="download(element._id)"></i> </td>
		  </ng-container>
           <ng-container matColumnDef="survey link">
		    <th mat-header-cell *matHeaderCellDef mat-sort-header> Survey Link </th>
		    <td mat-cell *matCellDef="let element"> <i class="fa fa-download" style="cursor: pointer;" (click)="download(element._id)"></i> </td>
		  </ng-container>
		  <ng-container matColumnDef="response rate">
		    <th mat-header-cell *matHeaderCellDef mat-sort-header> Response Rate </th>
		    <td mat-cell *matCellDef="let element"> <i class="fa fa-download" style="cursor: pointer;" (click)="download(element._id)"></i> </td>
		  </ng-container>
		  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	</div>

<mat-paginator [pageSizeOptions]="[6, 12, 18]" showFirstLastButtons></mat-paginator>
</div>