<div class="head">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="card" style="border: 0px!important;">
            <div class="card-body">                
                <h5 class="card-title">Q1. What is your age?</h5>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Your choice
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">25 years or younger</a>
                        <a class="dropdown-item" href="#">26 years to 34 years</a>
                        <a class="dropdown-item" href="#">35 years to 44 years</a>
                        <a class="dropdown-item" href="#">35 years to 44 years</a>
                    </div>
                </div>
                
                <h5 class="card-title">Q2. What is your Gender?</h5>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Your choice
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Male</a>
                        <a class="dropdown-item" href="#">Female</a>
                    </div>
                </div>
            
                <h5 class="card-title">Q3. What is your level in your current organisation?</h5>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Your choice
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Below Supervisory</a>
                        <a class="dropdown-item" href="#">Supervisory</a>
                        <a class="dropdown-item" href="#">Managerial</a>
                        <a class="dropdown-item" href="#">Senior Managerial</a>
                    </div>
                </div>
                
                <h5 class="card-title">Q4. What is your current industry?</h5>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" style="height: 5rem;margin-bottom: 2rem;"
                        placeholder="Your answer" aria-label="Your answer" aria-describedby="button-addon2">
                </div>
                <h5 class="card-title">Q4. What is your Team size?</h5>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" style="height: 5rem;margin-bottom: 2rem;"
                        placeholder="Your answer" aria-label="Your answer" aria-describedby="button-addon2">
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </div>
</div>