.card{
  border: 0px!important;
}
.question card{
  border: 0px!important;
  margin-bottom: 2rem;
}
.options{
  display:inline-flex;
  margin: 1 rem;
  padding: 0.5rem;

}

.btnActive {
    background: black;
    color: white;
}
.text_input{
  width: 100%;
  height: 10rem;
  border-radius: 10px;
  padding: 10px;
}
.gmi-logo{
  width: 10rem;
  padding: 2rem;
  margin-left: 4rem;
  }
  .btn-primary{
    width: 50%;
    margin:auto;
    text-align: center;
    color: white;
    background-color: green;
    margin-bottom: 2rem;
  }
  .text-top{
    float: right;
    margin-left: -12rem;
  }
  .top{
    padding:3rem;
    /* display: flex; */
  }
