<div class="container">
  <div class="thank_you" style="padding: 4rem;">
  <div class="shadow p-3 mb-5 bg-white rounded">
    <div class="card" style="border: 0px!important;">
      <div class="card-body">
        <h1 style="text-align: center;">People Manager Survey in times of crisis</h1>
        <h2 class="card-title" style="color: green; text-align: center;"> Survey Submitted Successfully</h2>
        <div class="card-text">
          Thanks for participating in the survey and playing a part in helping us understand how the dynamics of
          people management is changing due to the current situation.
          We will share with you insights drawn out of this survey.
          If you wish to get an opportunity to become a certified great people manager yourself,
          please log in or register on <a href="https://app.greatmanagerinstitute.com/">app.greatmanagerinstitute.com.</a>
        </div>
      </div>
    </div>
  </div>
</div>
