/* You can add global styles to this file, and also import other style files */
/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/

/* Add application styles & imports to this file! */

@import "~angular-notifier/styles";
html {
  /* overflow: hidden; */
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  min-height: 100%;
  background-color: #E9ECEF;
  /* background: #303030; */
}

* {
  -webkit-font-smoothing: antialased;
  -moz-osx-font-smoothing: antialased;
  font-family: 'Roboto', sans-serif;
}

/* SPACER */
.spacer {
  flex: 1 1 auto;
}
