<div class="jumbotron bg-blue text-center">
  <h1 class="display-4">People Management Effectiveness Scores</h1>


<table class="ui celled table">
  <thead>
    <tr><th>Industry Insights</th>
    <th>Scores</th>
    <th>Benchmarks</th>
  </tr></thead>
  <tbody>
  <tr>
      <td data-label="Industry Insights">Grand Mean</td>
      <td data-label="Scores">80</td>
      <td data-label="Benchmarks">92</td>
    </tr>
    <tr>
      <td data-label="Industry Insights">Business Continuity</td>
      <td data-label="Scores">90</td>
      <td data-label="Benchmarks">85</td>

    </tr>
    <tr>
      <td data-label="Industry Insights">Wellbeing</td>
      <td data-label="Scores">86</td>
      <td data-label="Benchmarks">90</td>
    </tr>
    <tr>
      <td data-label="Industry Insights">Approachability/Psychological availability</td>
      <td data-label="Scores">81</td>
      <td data-label="Benchmarks">87</td>
    </tr>
    <tr>
      <td data-label="Industry Insights">Learning Orientation</td>
      <td data-label="Scores">87</td>
      <td data-label="Benchmarks">85</td>
    </tr>
    <tr>
      <td data-label="Industry Insights">Team Connect</td>
      <td data-label="Scores">76</td>
      <td data-label="Benchmarks">90</td>
    </tr>
    <tr>
      <td data-label="Industry Insights">Support</td>
      <td data-label="Scores">82</td>
      <td data-label="Benchmarks">85</td>
    </tr>
    <tr>
      <td data-label="Industry Insights">Personal Connect</td>
      <td data-label="Scores">70</td>
      <td data-label="Benchmarks">85</td>
    </tr>
    <tr>
      <td data-label="Industry Insights">Communication</td>
      <td data-label="Scores">82</td>
      <td data-label="Benchmarks">90</td>
    </tr>
    <tr>
      <td data-label="Industry Insights">Celebration</td>
      <td data-label="Scores">74</td>
      <td data-label="Benchmarks">80</td>
    </tr>
    <tr>
      <td data-label="Industry Insights">Empathy</td>
      <td data-label="Scores">76</td>
      <td data-label="Benchmarks">80</td>
    </tr>
    <tr>
      <td data-label="Industry Insights">Participative Management</td>
      <td data-label="Scores">82</td>
      <td data-label="Benchmarks">85</td>
    </tr>
    <tr>
      <td data-label="Industry Insights">Work-life balance</td>
      <td data-label="Scores">70</td>
      <td data-label="Benchmarks">90</td>
    </tr>
    <tr>
      <td data-label="Industry Insights">Effectiveness</td>
      <td data-label="Scores">74</td>
      <td data-label="Benchmarks">80</td>
    </tr>
    <tr>
      <td data-label="Industry Insights">Productivity</td>
      <td data-label="Scores">73</td>
      <td data-label="Benchmarks">85</td>
    </tr>
    <tr>
      <td data-label="Industry Insights">Readiness</td>
      <td data-label="Scores">92</td>
      <td data-label="Benchmarks">90</td>
    </tr>
   
  </tbody>
</table>
</div>
<div class="jumbotron bg-green text-center">
     <h1 class="display-4"> Theme Wise Scores</h1>
      
  
<table class="ui celled table">
  <thead>
    <tr><th>Themes</th>
    <th>Scores</th>
    <th>Benchmarks</th>
  </tr></thead>
  <tbody>
  <tr>
      <td data-label="Industry Insights">Organization-based Focus</td>
      <td data-label="Scores">85</td>
      <td data-label="Benchmarks">80</td>
    </tr>
    <tr>
      <td data-label="Industry Insights">Relational-Focus</td>
      <td data-label="Scores">79</td>
      <td data-label="Benchmarks">80</td>

    </tr>
    <tr>
      <td data-label="Industry Insights">Person-Focus</td>
      <td data-label="Scores">81</td>
      <td data-label="Benchmarks">85</td>
    </tr>
    </tbody>
    </table>
    </div>